# {{ ansible_managed }}

{% for cronjob in item.cronjobs %}
{{ cronjob.schedule }} {{ item.user|default(duply_user) }} /usr/bin/duply {{ duply_home_dir }}/{{ item.name }} {{ cronjob.action|default('backup') }} >> {{ duply_log_dir }}/{{ item.name }}.log 2>&1
{% endfor %}
